@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg) translate(300px,300px);
    -o-transform: rotate(0deg) translate(300px,300px);
    transform: rotate(0deg) translate(300px,300px);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-100px,200px);
    -o-transform: rotate(360deg) translate(-100px,200px);
    transform: rotate(360deg) translate(-100px,200px);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg) translate(300px,300px);
    -moz-transform: rotate(0deg) translate(300px,300px);
    -webkit-transform: rotate(0deg) translate(300px,300px);
    -o-transform: rotate(0deg) translate(300px,300px);
    transform: rotate(0deg) translate(300px,300px);
  }
  to {
    -ms-transform: rotate(360deg) translate(-100px,200px);
    -moz-transform: rotate(360deg) translate(-100px,200px);
    -webkit-transform: rotate(360deg) translate(-100px,200px);
    -o-transform: rotate(360deg) translate(-100px,200px);
    transform: rotate(360deg) translate(-100px,200px);
  }
}

.rotating {
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite; 
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}